@import "_defines/variables";
@import "_defines/universal";
@import "_defines/mixins";
@import "_partial/hover";
@import "_partial/header";
@import "_partial/search";
@import "_partial/swiper";
@import "_partial/wave";
@import "_partial/recommended";
@import "_partial/postsList";
@import "_partial/footer";
