<div class="wave">
  <svg class="wave-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400.25 109.99" preserveAspectRatio="none">
    <path class="shape-fill"
      d="M1200,396H0v58c50,7,103.59,20.46,158,16.29,70.36-5.37,136.33-33.31,206.8-37.5,73.84-4.36,147.54,16.88,218.2,35.26,69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,421,1105,445,1199,454h0c48,6,104,20.43,158,16.29,70.36-5.37,136.33-33.31,206.8-37.5,73.84-4.36,147.54,16.88,218.2,35.26,69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C2188.49,421,2317,448,2399,454V396Z" fill="var(--primaryColor)" transform="translate(0.62 -396)" style="opacity: 0.25;isolation: isolate" />
  </svg>
  <svg class="wave-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400.25 109.99" preserveAspectRatio="none">
    <path class="shape-fill wave-2"
      d="M1200,396H0V500s23,1,47.69,3c64.7,5.24,117.31,4,176.89-15.42,31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.62,21.74,168.9,38.84A625.47,625.47,0,0,0,1142,495c32.47,5.24,46,5,53,5,6,0-1-.05,0,0,22,1,21,2.08,41,3,65,3,128,4,187.58-15.42,31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,54.74,15.82,87.09,20.82,25.83,4,60.65,5,60.65,5V396Z" fill="var(--primaryColor)" transform="translate(0.62 -396)" style="opacity: 0.5;isolation: isolate" />
  </svg>
  <svg class="wave-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400.25 109.99" preserveAspectRatio="none">
    <path class="shape-fill wave-3"
      d="M1200,396H0s-1.4,5.78,0,5.66C143,389,314.09,467.32,475.83,438.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4,58.93,25.71,117,43.73,182.2,38.49,86.18-7,162.57-78.74,247.88-84.34,158.78-10.42,314,65.65,475.75,36.91,43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4,58.93,25.71,117,43.73,182.2,38.49,86.53-7,141.8-78,248.8-84.34,1.41-.08,0-5.66,0-5.66Z" fill="var(--primaryColor)" transform="translate(0.62 -396)" />
  </svg>
</div>