<ul class="actionIcons">
  <li class="actionItem">
    <span class="icon"><%- theme.icons.like %></span>
    <span class="total">1.1k</span>
  </li>
  <li class="actionItem">
    <span class="icon"><%- theme.icons.comment %></span>
    <span class="total">1.1k</span>
  </li>
  <li class="actionItem">
    <span class="icon"><%- theme.icons.share %></span>
    <span class="total">1.1k</span>
  </li>
</ul>
<div class="actionItem">
  <span class="icon"><%- theme.icons.save %></span>
</div>