html {
	--themeColor: #FA6800;
	--neutralColor: #868688;
	--sitePadding: 10vw;
	--navBarHeight: 8vh;
	--iconSize: 2em;

	&[data-theme="day"] {
		--primaryColor: #EFECE7;
		--secondaryColor: #FFFFFF;
		--textColor: #000000;
		--footerColor: #1C1819;
		--shadowColor: #1c181930;
		--navBarColor: #EFECE7AA;
		--searchColor: #FFFFFF55;
		--hoverColor: #b6b6b6;
	}

	&[data-theme="night"] {
		--primaryColor: #1C1819;
		--secondaryColor: #000000;
		--textColor: #FFFFFF;
		--footerColor: #EFECE7;
		--shadowColor: #e3e4de30;
		--navBarColor: #1C1819AA;
		--searchColor: #00000022;
		--hoverColor: #a0a0a0;
	}
}